<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
  <title>Glance Design Dashboard an Admin Panel Category Flat Bootstrap Responsive Website Template | Tables ::
    w3layouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

  <!-- Bootstrap Core CSS -->
  <link href="stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />

  <!-- Custom CSS -->
  <link href="stylesheets/style.css" rel='stylesheet' type='text/css' />

  <!-- font-awesome icons CSS -->
  <link href="stylesheets/font-awesome.css" rel="stylesheet">
  <!-- //font-awesome icons CSS -->

  <!-- side nav css file -->
  <link href='stylesheets/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
  <!-- side nav css file -->

  <!-- js-->
  <script src="javascripts/jquery-1.11.1.min.js"></script>
  <script src="javascripts/modernizr.custom.js"></script>

  <!--webfonts-->
  <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
    rel="stylesheet">
  <!--//webfonts-->

  <!-- Metis Menu -->
  <script src="javascripts/metisMenu.min.js"></script>
  <script src="javascripts/custom.js"></script>
  <link href="stylesheets/custom.css" rel="stylesheet">
  <!--//Metis Menu -->

</head>

<body class="cbp-spmenu-push">
  <div class="main-content">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <!--left-fixed -navigation-->
      <aside class="sidebar-left">
        <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="index.html"><span class="fa fa-area-chart"></span> Glance<span
                  class="dashboard_text">Design dashboard</span></a></h1>
          </div>
          

          <!-- /.navbar-collapse -->
        </nav>
      </aside>
    </div>

    <!--left-fixed -navigation-->
    <aside class="sidebar-left">
      <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/user-page"><span class="fa fa-area-chart"></span> {{fullName}}<span
              class="dashboard_text">MyProject.com</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              <a href="/admin-page">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>

            <li class="header">CONFIRMS</li>
            <li><a href="/admin-product-confirm"><i class="fa fa-angle-right text-red"></i> <span>Product
                  Confirm</span></a></li>
            <li><a href="/admin-money-confirm"><i class="fa fa-angle-right text-yellow"></i> <span>Remainder
                  Confirm</span></a></li>
            <li><a href="/admin-transaction"><i class="fa fa-angle-right text-aqua"></i> <span>Transaction
                  Confirm</span></a></li>



          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
    </aside>
    <!-- header-starts -->
    <div class="sticky-header header-section ">
      <div class="header-left">

        <!--toggle button start-->
        <button id="showLeftPush"><i class="fa fa-bars"></i></button>
        <!--toggle button end-->
        <div class="profile_details_left">
          <!--notifications of menu start -->
          <ul class="nofitications-dropdown">
            <li class="dropdown head-dpdn">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                  class="fa fa-envelope"></i><span class="badge">{{product}}</span></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="notification_header">
                    <h3>You have {{product}} new messages wait user confirm</h3>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown head-dpdn">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                  class="fa fa-bell"></i><span class="badge blue">{{remainder}}</span></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="notification_header">
                    <h3>You have {{remainder}} new notification wait confirm</h3>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown head-dpdn">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                  class="fa fa-tasks"></i><span class="badge blue1">{{transaction}}</span></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="notification_header">
                    <h3>You have {{transaction}} pending task</h3>
                  </div>
                </li>
              </ul>
            </li>
                     
          </ul>
          
          <div class="clearfix"> </div>
        </div>
        <!--notification menu end -->
        <div class="clearfix"> </div>

      </div>
      
      <div class="header-right">
        
        
        <div class="profile_details">
          <ul>
            
            <li class="dropdown profile_details_drop">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="profile_img">
                  <span class="prfil-img"><img src="images/2.jpg" alt=""> </span>
                  <div class="user-name">
                    <p>{{fullName}} </p>
                    <span>Administrator</span>
                  </div>
                  <i class="fa fa-angle-down lnr"></i>
                  <i class="fa fa-angle-up lnr"></i>
                  <div class="clearfix"></div>
                </div>
              </a>
             
              <ul class="dropdown-menu drp-mnu">
                <li> <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
      
    </div>
    <!-- //header-ends -->

    <!-- main content start-->
    <div id="page-wrapper">
   
      <div style="background:#fafafa;" >
        <marquee behavior=alternate>
            <a style="color:#59b188;" >USD</a>
            <a style="color:#8dcfe9;" > Alış: {{kurlar.usdAlis}} TL - </a>
            <a style="color:#e74c3c;">Satış: {{kurlar.usdSatis}} TL,  </a> 
            <a style="color:#59b188;" >EUR</a>
            <a style="color:#8dcfe9;"> Alış: {{kurlar.eurAlis}} TL - </a>
            <a style="color:#e74c3c;">Satış: {{kurlar.eurSatis}} TL,  </a>
            <a style="color:#59b188;" >GBP</a>
            <a style="color:#8dcfe9;"> Alış: {{kurlar.gbpAlis}} TL - </a> 
            <a style="color:#e74c3c;">Satış: {{kurlar.gbpSatis}} TL</a> 
        </marquee>
      </div>
    
        {% if type == 1 %}
        <div class="col_3">
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
              <i class="pull-left fa fa-dollar icon-rounded"></i>
              <div class="stats">
                <h5><strong>{{totalConfirmMoney}} TL</strong></h5>
                <span>Confirmed Money</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
              <i class="pull-left fa fa-money user1 icon-rounded"></i>
              <div class="stats">
                <h5><strong>{{totalNotConfirmMoney}} TL</strong></h5>
                <span>Wait Money</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
              <i class="pull-left fa fa-pie-chart dollar1 icon-rounded"></i>
              <div class="stats">
                <h5><strong>{{totalMoney}} TL</strong></h5>
                <span>Total Money</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 widget">
            <div class="r3_counter_box">
              <i class="pull-left fa fa-asl-interpreting (alias) dollar3 icon-rounded"></i>
              <div class="stats">
                <h5><strong>{{totalProduct}} </strong></h5>
                <span>Total Product</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 widget">
            <div class="r3_counter_box">
              <i class="pull-left fa fa-users dollar2 icon-rounded"></i>
              <div class="stats">
                <h5><strong>{{totalUser}} </strong></h5>
                <span>Total Users</span>
              </div>
            </div>
          </div>
          

          <div class="clearfix"> </div>

          {% elseif type == 3 %}
          <div class="tables">
            <div class="panel-body widget-shadow">
              <h4>Product Wait Confirm:</h4>
              <table class="table">
                <thead>
                  <tr style="background:#e74c3c;">
                    <th>Product User Name</th>
                    <th>Product Name</th>
                    <th>Product Wait Amount</th>
                    <th>Product Unit</th>
                    <th>Product Add Time</th>

                  </tr>
                </thead>
                <tbody>

                  {% for product in productsWaitConfirm %}
                  <tr>
                    <td>{{product.userFirstName}} {{product.userSurname}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productWaitAmount}}</td>
                    <td>{{product.productUnit}}</td>
                    <td>{{product.productCreateTime}}</td>
                    <td>
                      <form action="admin-product-confirm-ok" method="post">
                        <input name="productId" value={{product.productId}} type="hidden" />
                        <input type="submit" value="Onayla" style="background:#1abc9c;" />
                      </form>
                    </td>
                    <td>
                      <form action="admin-product-confirm-no" method="post">
                        <input name="productId" value={{product.productId}} type="hidden" />
                        <input type="submit" value="Reddet" style="background:#e74c3c;" />
                      </form>
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
          {% elseif type == 4 %}
          <div class="tables">
            <div class="panel-body widget-shadow">
              <h4>Money Wait Confirm:</h4>
              <table class="table">
                <thead>
                  <tr style="background:#e74c3c;">
                    <th>User Name</th>
                    <th>User Full Name</th>
                    <th>User Id</th>
                    <th>User Remainder</th>
                    <th>User Wait Remainder</th>
                    <th>Money Unit</th>
                  </tr>
                </thead>
                <tbody>

                  {% for remainder in userRemainderConfirmTL %}
                  <tr>

                    <td>{{remainder.userName}}</td>
                    <td>{{remainder.userFirstName }} {{remainder.userSurname}}</td>
                    <td>{{remainder.userId}}</td>
                    <td>{{remainder.userMoney}}</td>
                    <td>{{remainder.userWaitMoneyTL}}</td>
                    <td>TL</td>
                    <td>
                      <form action="admin-money-confirm-ok" method="post">
                        <input name="userId" value={{remainder.userId}} type="hidden" />
                        <input name="moneyUnit" value="TL" type="hidden" />
                        <input type="submit" value="Onayla" style="background:#1abc9c;" />
                      </form>
                    </td>
                    <td>
                      <form action="admin-money-confirm-no" method="post">
                        <input name="userId" value={{remainder.userId}} type="hidden" />
                        <input name="moneyUnit" value="TL" type="hidden" />
                        <input type="submit" value="Reddet" style="background:#e74c3c;" />
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                  {% for remainder in userRemainderConfirmUSD %}
                  <tr>

                    <td>{{remainder.userName}}</td>
                    <td>{{remainder.userFirstName }} {{remainder.userSurname}}</td>
                    <td>{{remainder.userId}}</td>
                    <td>{{remainder.userMoney}}</td>
                    <td>{{remainder.userWaitMoneyUSD}}</td>
                    <td>USD</td>
                    <td>
                      <form action="admin-money-confirm-ok" method="post">
                        <input name="userId" value={{remainder.userId}} type="hidden" />
                        <input name="moneyUnit" value="USD" type="hidden" />
                        <input type="submit" value="Onayla" style="background:#1abc9c;" />
                      </form>
                    </td>
                    <td>
                      <form action="admin-money-confirm-no" method="post">
                        <input name="userId" value={{remainder.userId}} type="hidden" />
                        <input name="moneyUnit" value="USD" type="hidden" />
                        <input type="submit" value="Reddet" style="background:#e74c3c;" />
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                  {% for remainder in userRemainderConfirmEUR %}
                  <tr>

                    <td>{{remainder.userName}}</td>
                    <td>{{remainder.userFirstName }} {{remainder.userSurname}}</td>
                    <td>{{remainder.userId}}</td>
                    <td>{{remainder.userMoney}}</td>
                    <td>{{remainder.userWaitMoneyEUR}}</td>
                    <td>EUR</td>
                    <td>
                      <form action="admin-money-confirm-ok" method="post">
                        <input name="userId" value={{remainder.userId}} type="hidden" />
                        <input name="moneyUnit" value="EUR" type="hidden" />
                        <input type="submit" value="Onayla" style="background:#1abc9c;" />
                      </form>
                    </td>
                    <td>
                      <form action="admin-money-confirm-no" method="post">
                        <input name="userId" value={{remainder.userId}} type="hidden" />
                        <input name="moneyUnit" value="EUR" type="hidden" />
                        <input type="submit" value="Reddet" style="background:#e74c3c;" />
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                  {% for remainder in userRemainderConfirmGBP %}
                  <tr>

                    <td>{{remainder.userName}}</td>
                    <td>{{remainder.userFirstName }} {{remainder.userSurname}}</td>
                    <td>{{remainder.userId}}</td>
                    <td>{{remainder.userMoney}}</td>
                    <td>{{remainder.userWaitMoneyGBP}}</td>
                    <td>GBP</td>
                    <td>
                      <form action="admin-money-confirm-ok" method="post">
                        <input name="userId" value={{remainder.userId}} type="hidden" />
                        <input name="moneyUnit" value="GBP" type="hidden" />
                        <input type="submit" value="Onayla" style="background:#1abc9c;" />
                      </form>
                    </td>
                    <td>
                      <form action="admin-money-confirm-no" method="post">
                        <input name="userId" value={{remainder.userId}} type="hidden" />
                        <input name="moneyUnit" value="GBP" type="hidden"/>
                        <input type="submit" value="Reddet" style="background:#e74c3c;" />
                      </form>
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
          {% elseif type == 5 %}
          <div class="tables">
            <div class="panel-body widget-shadow">
              <h4>Confirm Transaction:</h4>
              <table class="table">
                <thead>
                  <tr style="background:#1abc9c;">
                    <th>Buyer Name</th>
                    <th>Seller Name</th>
                    <th>Product Name</th>
                    <th>Product Sell Price</th>
                    <th>Product Amount</th>
                    <th>Product Process Time</th>
                  </tr>
                </thead>
                <tbody>

                  {% for transaction in realisedTransaction %}
                  <tr>
                    <td>{{transaction.buyerFullName }}</td>
                    <td>{{transaction.sellerFullName }}</td>
                    <td>{{transaction.productName}}</td>
                    <td>{{transaction.productPrice}}</td>
                    <td>{{transaction.productAmount }}</td>
                    <td>{{transaction.transactionProcessTime}}</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
            <div class="panel-body widget-shadow">
              <h4>Wait Transaction:</h4>
              <table class="table">
                <thead>
                  <tr style="background:#e74c3c;">
                    <th>Seller Name</th>
                    <th>Product Name</th>
                    <th>Product Sell Price</th>
                    <th>Product Remainder Amount</th>
                    <th>Product Request Time</th>
                  </tr>
                </thead>
                <tbody>

                  {% for transaction in waitTransaction %}
                  <tr>
                    <td>{{transaction.userFirstName }} {{transaction.userSurname }} </td>
                    <td>{{transaction.productName}}</td>
                    <td>{{transaction.productPrice}}</td>
                    <td>{{transaction.productRemainderAmount }}</td>
                    <td>{{transaction.transactionCreateTime}}</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <!--footer-->
      {% include 'footer.twig' %}
      <!--//footer-->
    </div>

    <!-- side nav js -->
    <script src='javascripts/SidebarNav.min.js' type='text/javascript'></script>
    <script>
      $('.sidebar-menu').SidebarNav()
    </script>
    <!-- //side nav js -->

    <!-- Classie -->
    <!-- for toggle left push menu script -->
    <script src="javascripts/classie.js"></script>
    <script>
      var menuLeft = document.getElementById('cbp-spmenu-s1'),
        showLeftPush = document.getElementById('showLeftPush'),
        body = document.body;

      showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
      };

      function disableOther(button) {
        if (button !== 'showLeftPush') {
          classie.toggle(showLeftPush, 'disabled');
        }
      }
    </script>
    <!-- //Classie -->
    <!-- //for toggle left push menu script -->

    <!--scrolling js-->
    <script src="javascripts/jquery.nicescroll.js"></script>
    <script src="javascripts/scripts.js"></script>
    <!--//scrolling js-->

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.js"> </script>

</body>

</html>