<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
	<title>Glance Design Dashboard an Admin Panel Category Flat Bootstrap Responsive Website Template | SignUp Page ::
		w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- Bootstrap Core CSS -->
	<link href="stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href="stylesheets/style.css" rel='stylesheet' type='text/css' />

	<!-- font-awesome icons CSS -->
	<link href="stylesheets/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons CSS -->

	<!-- side nav css file -->
	<link href='stylesheets/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
	<!-- side nav css file -->

	<!-- js-->
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="javascripts/modernizr.custom.js"></script>

	<!--webfonts-->
	<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
		rel="stylesheet">
	<!--//webfonts-->

	<!-- Metis Menu -->
	<script src="javascripts/metisMenu.min.js"></script>
	<script src="javascripts/custom.js"></script>
	<link href="stylesheets/custom.css" rel="stylesheet">
	<!--//Metis Menu -->

</head>

<body class="cbp-spmenu-push">
	<div class="main-content">

		<!-- main content start-->
		<div id="page-wrapper" style="margin-left:0;">
			<div class="main-page signup-page">
				<h2 class="title1">SignUp Here</h2>
				<div class="sign-up-row widget-shadow">
					<h5>Personal Information :</h5>
					<form action="/signup" method="POST">
						<p style="color:#e74c3c;">{{allert}}</p><br/>
						<div class="sign-u">
							<input type="text" name="firstname" maxlength="64" placeholder="First Name" value="{{firstname}}" required="">
							<div class="clearfix"> </div>
						</div>
						<div class="sign-u">
							<input type="text" name="surname" maxlength="32" placeholder="Surname" required="">
							<div class="clearfix"> </div>
						</div>

						<div class="sign-u">
							<input type="text" name="username" maxlength="64" placeholder="Username" required="">
							<div class="clearfix"> </div>
						</div>

						<div class="sign-u">
							<input type="text" name="tcno" pattern="[0-9]{11}" maxlength="11" placeholder="TC No" required="">
							<div class="clearfix"> </div>
						</div>

						<div class="sign-u">
							<input type="text" name="phonenumber" pattern="[0-9]{11}" maxlength="11" placeholder="Phone Number" required="">
							<div class="clearfix"> </div>
						</div>

						<div class="sign-u">
							<input type="text" name="address" maxlength="255" placeholder="Address" required="">
							<div class="clearfix"> </div>
						</div>

						<div class="sign-u">
							<input type="email" name="email" placeholder="Email Address" required="">
							<div class="clearfix"> </div>
						</div>

						<div class="sign-u">
							<input type="password" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password" required="">
							<div class="clearfix"> </div>
						</div>
						<div class="sign-u">
							<input type="password" name="confirm_password" id="confirm_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirm Password" required="">
						</div>
						<div class="clearfix"> </div>
						<div class="sub_home">
							<input type="submit" value="Submit">
							<div class="clearfix"> </div>
						</div>
						<div class="registration">
							Already Registered.
							<a class="" href="/login">
								Login
							</a>
						</div>

					</form>
					
				</div>
			</div>
		</div>
		<!--footer-->
		{% include 'footer.twig' %}
		<!--//footer-->
	</div>

	<!-- side nav js -->
	<script src='javascripts/SidebarNav.min.js' type='text/javascript'></script>
	<script>
		$('.sidebar-menu').SidebarNav()
	</script>
	<!-- //side nav js -->

	<!-- Classie -->
	<!-- for toggle left push menu script -->
	<script src="javascripts/classie.js"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'),
			showLeftPush = document.getElementById('showLeftPush'),
			body = document.body;

		showLeftPush.onclick = function () {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!-- //Classie -->
	<!-- //for toggle left push menu script -->

	<!--scrolling js-->
	<script src="javascripts/jquery.nicescroll.js"></script>
	<script src="javascripts/scripts.js"></script>
	<!--//scrolling js-->

	<!-- Bootstrap Core JavaScript -->
	<script src="javascripts/bootstrap.js"> </script>

</body>

</html>