<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
    <title>Glance Design Dashboard an Admin Panel Category Flat Bootstrap Responsive Website Template | Tables ::
        w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel='stylesheet' type='text/css' />

    <!-- font-awesome icons CSS -->
    <link href="stylesheets/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS -->

    <!-- side nav css file -->
    <link href='stylesheets/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' />
    <!-- side nav css file -->

    <!-- js-->
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
        rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <script src="javascripts/metisMenu.min.js"></script>
    <script src="javascripts/custom.js"></script>
    <link href="stylesheets/custom.css" rel="stylesheet">
    <!--//Metis Menu -->

</head>

<body class="cbp-spmenu-push">
    <div class="main-content">
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <!--left-fixed -navigation-->
            <aside class="sidebar-left">
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="#"><span class="fa fa-area-chart"></span> Glance<span
                                    class="dashboard_text">Design dashboard</span></a></h1>
                    </div>

                    <!-- /.navbar-collapse -->
                </nav>
            </aside>
        </div>
        <!--left-fixed -navigation-->
        <aside class="sidebar-left">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/user-page"><span class="fa fa-area-chart"></span> {{fullName}} <span
                            class="dashboard_text">
                            <p>{{remaindAmount}} TL</p>
                        </span></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview">
                            <a href="/user-page">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="header">CONFIRMS</li>
                        <li>
                            <a href="/user-add-product">
                                <i class="fa fa-angle-right text-red"></i> 
                                <span>Add Product</span>
                            </a>
                        </li>
                        <li>
                            <a href="/user-add-money">
                                <i class="fa fa-angle-right text-yellow"></i>
                                <span>Add Money</span>
                            </a>
                        </li>
                        <li>
                            <a href="/user-sell-product">
                                <i class="fa fa-angle-right text-aqua"></i>
                                <span>Sell Product</span>
                            </a>
                        </li>
                        <li>
                            <a href="/user-buy-product">
                                <i class="fa fa-angle-right text-aqua"></i> 
                                <span>Buy Product</span>
                            </a>
                        </li>
                        <li>
                            <a href="/user-transaction">
                                <i class="fa fa-angle-right text-aqua"></i> 
                                <span>Transaction</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
        <!-- header-starts -->
        <div class="sticky-header header-section ">           
            <div class="header-right">
                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img src="images/2.jpg" alt=""> </span>
                                    <div class="user-name">
                                        <p>{{fullName}} </p>
                                        <span>User</span>
                                    </div>
                                    <i class="fa fa-angle-down lnr"></i>
                                    <i class="fa fa-angle-up lnr"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">                                
                                <li> <a href="/logout"><i class="fa fa-sign-out"></i> Logout </a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>



        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page">
                <div style="background:#fafafa;" >
                    <marquee behavior=alternate >
                        <a style="color:#59b188;" >USD</a>
                        <a style="color:#8dcfe9;" > Alış: {{kurlar.usdAlis}} TL - </a>
                        <a style="color:#e74c3c;">Satış: {{kurlar.usdSatis}} TL,  </a> 
                        <a style="color:#59b188;" >EUR</a>
                        <a style="color:#8dcfe9;"> Alış: {{kurlar.eurAlis}} TL - </a>
                        <a style="color:#e74c3c;">Satış: {{kurlar.eurSatis}} TL,  </a>
                        <a style="color:#59b188;" >GBP</a>
                        <a style="color:#8dcfe9;"> Alış: {{kurlar.gbpAlis}} TL - </a> 
                        <a style="color:#e74c3c;">Satış: {{kurlar.gbpSatis}} TL</a> 
                    </marquee>
                </div>
                {% if type == 6 %}

            
                <div class="tables">
                    <h2 class="title1">My Products</h2>
                    <div class="panel-body widget-shadow">
                        <h4>My Confirmed Products:</h4>
                        <table class="table">

                            <thead>
                                <tr style="background:#1abc9c;">
                                    <th>Product Name</th>
                                    <th>Product Amount</th>
                                    <th>Product Unit</th>
                                    <th>Product Add Time</th>
                                </tr>
                            </thead>
                            <tbody>


                                {% for product in productsConfirm %}
                                <tr>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.productAmount}}</td>
                                    <td>{{product.productUnit}}</td>
                                    <td>{{product.productCreateTime}}</td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tables">
                    <div class="panel-body widget-shadow">
                        <h4>My Wait Confirm Products</h4>
                        <table class="table">
                            <thead>
                                <tr style="background:#e74c3c;">
                                    <th>Product Name</th>
                                    <th>Product Amount</th>
                                    <th>Product Unit</th>
                                    <th>Product Add Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in productsWaitConfirm %}
                                <tr>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.productWaitAmount}}</td>
                                    <td>{{product.productUnit}}</td>
                                    <td>{{product.productCreateTime}}</td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
                {% elseif type == 7 %}
                <div class="forms">
                    <h2 class="title1">Product Form</h2>
                    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
                        <div class="form-title">
                            <h4>Add Product :</h4>
                        </div>
                        <div class="form-body">
                            <form method="POST" action="/user-add-product">
                                <div class="form-group">
                                    <label for="totalAmt">Product Name</label>
                                    <input type="text" class="form-control" id="totalAmt" placeholder="Product Name"
                                        name="name">
                                </div>

                                <div class="form-group">
                                    <label for="totalAmt">Product Amount</label>
                                    <input type="number" step="0.01" class="form-control" id="totalAmt"
                                        placeholder="Product Amount" name="amount">
                                </div>

                                <div class="form-group">
                                    <label for="totalAmt">Product Unit</label>
                                    <input type="text" class="form-control" id="totalAmt" placeholder="KG"
                                        value="KG" name="unit">
                                </div>

                                <button type="submit" class="btn btn-default">ADD</button>
                            </form>
                        </div>
                    </div>

                </div>
                {% elseif type == 8 %}
                <!-- Satılabilecekler -->
                <div class="tables">
                    <h2 class="title1">My Products</h2>
                    <div class="panel-body widget-shadow">
                        <h4>My Sellable Products:</h4>
                        <table class="table">

                            <thead>
                                <tr style="background:#1abc9c;">
                                    <th>Product Name</th>
                                    <th>Product Amount</th>
                                    <th>Product Unit</th>
                                    <th>Product Add Time</th>
                                </tr>
                            </thead>
                            <tbody>


                                {% for product in productsSellable %}
                                <tr>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.productAmount}}</td>
                                    <td>{{product.productUnit}}</td>
                                    <td>{{product.productCreateTime}}</td>
                                    <td>
                                        <form action="/user-sell-product" method="post">
                                            <input name="productid" value={{product.productId}} type="hidden" />
                                            <input name="productName" value="{{product.productName}}" type="hidden" />
                                            <input name="productamount" value={{product.productAmount}} type="hidden" />
                                            <input type="number" step="0.01" min="0.01" max={{product.productAmount}}
                                                class="form-control" id="totalAmt" placeholder="Product Amount"
                                                name="product_sel_amount" required="">
                                            <input type="number" step="0.01" min="0.01" class="form-control"
                                                id="totalAmt" placeholder="Product Price" name="product_sel_price"
                                                required="">
                                            <input type="submit"  value="SELL" />
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tables">
                    <div class="panel-body widget-shadow">
                        <h4>My Wait Confirm Products:</h4>
                        <table class="table">
                            <thead>
                                <tr style="background:#e74c3c;">
                                    <th>Product Name</th>
                                    <th>Product Amount</th>
                                    <th>Product Unit</th>
                                    <th>Product Add Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in productsWaitConfirm %}
                                <tr>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.productWaitAmount}}</td>
                                    <td>{{product.productUnit}}</td>
                                    <td>{{product.productCreateTime}}</td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
                {% elseif type == 9 %}
                <!-- Alinabilecekler -->
                <div class="tables">
                    
                    <h2 class="title1">Available Products</h2>
                    <div class="panel-body widget-shadow">
                        <p style="color:#e74c3c;">{{allert}}</p><br/>
                        <h4>Purchasable Products:</h4>
                        <table class="table">

                            <thead>
                                <tr style="background:#1abc9c;">
                                    <th>Product Name</th>
                                    <th>Product Unit</th>
                                </tr>
                            </thead>
                            <tbody>


                                {% for product in productBuyable %}
                                <tr>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.productUnit}}</td>
                                    <td>
                                        <form action="/user-buy-product" method="post">
                                            <input name="productName" value="{{product.productName}}" type="hidden" />
                                            <input type="number" step="0.01" min="0.01" class="form-control"
                                                id="totalAmt" placeholder="Product Amount" name="product_buy_amount"
                                                required="">
                                            <input type="price" step="0.01" min="0.01" class="form-control"
                                                id="brPrice" placeholder="Product Price" name="product_buy_price"
                                                required="">
                                            <input type="submit" value="BUY" />
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tables">
                    <div class="panel-body widget-shadow">
                        <h4>My Wait Buy Products:</h4>
                        <table class="table">
                            <thead>
                                <tr style="background:#e74c3c;">
                                    <th>Product Name</th>
                                    <th>Product Remainder Amount</th>
                                    <th>Product Price</th>
                                    <th>Product Unit</th>
                                    <th>Product Add Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in productWaitBuying %}
                                <tr>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.productRemainderAmount}}</td>
                                    <td>{{product.productPrice}}</td>
                                    <td>{{product.productUnit}}</td>
                                    <td>{{product.transactionCreateTime}}</td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
                {% elseif type == 10 %}
                <div class="tables">

                        <div style="background:#c1d8d0;">
                            <div class="row">
                                <div class="col-md-10">
                                    <form method="POST" action="/user-filter" >
                                        <label for="birthday" style="color:#667570;">Start Date </label>
                                        <input type="date"  name="startDate" style="color:#e95353;">
                                        <label for="birthday" style="color:#667570;">End Date </label>
                                        <input type="date" name="endDate" style="color:#e95353;" >
                                        
                                        <label> Products </label>
                                        <select name="urunler">
                                            <option value="hepsi">Hepsi</option>
                                            {% for product in urunler %}
                                                <option value="{{product.productName}}">{{product.productName}}</option>
                                            {% endfor %}
                                        </select>
                                        <label> Report </label>
                                        <select name="durum">
                                            <option value="hepsi">Hepsi</option>
                                            <option value="alis">Alım işlemi</option>
                                            <option value="satis">Satım İşlemi</option>    
                                            <option value="bekleyen">Bekleyen İşlem</option>                                         
                                        </select>
                                        
                                        <input type="submit" value="Filter">
                                    </form>
                                </div>
                                <div class="col-md-2">
                                    <form method="POST" action="/user-download"  style="float:right;">
                                       
                                        {% if downloadState == 1 %}
                                         <button style="margin-top:7px;" type="submit">Download </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>

                        </div>
                    <br>
                    
                   

                    <h2 class="title1">Products in Process</h2>
                    {% if trunsactionSellProduct %}
                    <div class="panel-body widget-shadow">                       
                        <h4>Sold Products:</h4>                        
                        <table class="table">
                            <thead>
                                <tr style="background:#1abc9c;">
                                    <th>Product Name</th>
                                    <th>Product Price</th>
                                    <th>Product Amount</th>
                                    <th>Product Unit</th>
                                    <th>Product Add Time</th>
                                </tr>
                            </thead>
                            <tbody>


                                {% for product in trunsactionSellProduct %}
                                <tr>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.productPrice}}</td>
                                    <td>{{product.productAmount}}</td>
                                    <td>{{product.productUnit}}</td>
                                    <td>{{product.transactionCreateTime}}</td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    {% endif%}
                    {% if trunsactionBuyProduct %}
                    <div class="panel-body widget-shadow">
                        <h4>Bought Product:</h4>
                        <table class="table">
                            <thead>
                                <tr style="background:#52daf1;">
                                    <th>Product Name</th>
                                    <th>Seller Name</th>
                                    <th>Product Price</th>
                                    <th>Product Amount</th>
                                    <th>Product Unit</th>
                                    <th>Product Add Time</th>
                                </tr>
                            </thead>
                            <tbody>


                                {% for product in trunsactionBuyProduct %}
                                <tr>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.userFullName}}</td>
                                    <td>{{product.productPrice}}</td>
                                    <td>{{product.productAmount}}</td>
                                    <td>{{product.productUnit}}</td>
                                    <td>{{product.transactionProcessTime}}</td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    {% endif%}
                    {% if trunsactionBuyWaitProduct or trunsactionSellWaitProduct %}
                     <div class="panel-body widget-shadow">
                        <h4>Wait Product:</h4>
                        <table class="table">
                            <thead>
                                <tr style="background:#e74c3c;">
                                    <th>Product Name</th>
                                    <th>State</th>
                                    <th>Product Price</th>
                                    <th>Product Remainder Amount</th>
                                    <th>Product Unit</th>
                                    <th>Product Add Time</th>
                                </tr>
                            </thead>
                            <tbody>


                                {% for product in trunsactionBuyWaitProduct %}
                                <tr style="background:#fffcfc;">
                                    <td>{{product.productName}}</td>
                                    <td>Buy</td>
                                    <td>{{product.productPrice}}</td>
                                    <td>{{product.productRemainderAmount}}</td>
                                    <td>{{product.productUnit}}</td>
                                    <td>{{product.transactionCreateTime}}</td>
                                </tr>
                                {% endfor %}
                                {% for product in trunsactionSellWaitProduct %}
                                <tr style="background:#dbd0cf;">
                                    <td>{{product.productName}}</td>
                                    <td>Sell</td>
                                    <td>{{product.productPrice}}</td>
                                    <td>{{product.productRemainderAmount}}</td>
                                    <td>{{product.productUnit}}</td>
                                    <td>{{product.transactionCreateTime}}</td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    {% endif%}
                </div>

                {% elseif type == 11 %}
                <div class="forms">
                    <h2 class="title1">Money Form</h2>
                    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
                        <div class="form-title">
                            <h4>Add Money :</h4>
                        </div>
                        <div class="form-body">
                            <form method="POST" action="/user-add-money">

                                <div class="form-group">
                                    <label for="totalAmt">Money Amount</label>
                                    <input type="number" step="0.01" class="form-control" id="totalAmt"
                                        placeholder="Money Amount" name="moneyAmount" required="">
                                </div>

                                <div class="form-group">
                                    <label for="totalAmt">Money Unit</label>
                                    <select name="moneyUnit" id="totalAmt">
                                        <option value="TL">Türk Lirası</option>
                                        <option value="USD">Amarikan Doları</option>
                                        <option value="EUR">Euro</option>
                                        <option value="GBP">Sterlin</option>
                                        </select>
                                </div>

                                <button type="submit" class="btn btn-default">ADD</button>
                            </form>
                        </div>
                    </div>

                </div>


            {% endif %}
        </div>
        <!--footer-->
        {% include 'footer.twig' %}
        <!--//footer-->
    </div>

    <!-- side nav js -->
    <script src='javascripts/SidebarNav.min.js' type='text/javascript'></script>
    <script>
        $('.sidebar-menu').SidebarNav()
    </script>
    <!-- //side nav js -->

    <!-- Classie -->
    <!-- for toggle left push menu script -->
    <script src="javascripts/classie.js"></script>
    <script>
        var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

        showLeftPush.onclick = function () {
            classie.toggle(this, 'active');
            classie.toggle(body, 'cbp-spmenu-push-toright');
            classie.toggle(menuLeft, 'cbp-spmenu-open');
            disableOther('showLeftPush');
        };

        function disableOther(button) {
            if (button !== 'showLeftPush') {
                classie.toggle(showLeftPush, 'disabled');
            }
        }
    </script>
    <!-- //Classie -->
    <!-- //for toggle left push menu script -->

    <!--scrolling js-->
    <script src="javascripts/jquery.nicescroll.js"></script>
    <script src="javascripts/scripts.js"></script>
    <!--//scrolling js-->

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.js"> </script>

</body>

</html>